# Configuración del Bot de Instagram

# Directorio donde se guardarán las cookies y sesión del navegador
USER_DATA_DIR=./session

# En la primera ejecución o login debe ser false
HEADLESS=false

# Opcional: credenciales si se desea intento automático
INSTAGRAM_USERNAME=tu_usuario_de_instagram
INSTAGRAM_PASSWORD=tu_contraseña_de_instagram
